# Drizzle
# Replace with your DB credentials!
DATABASE_URL="postgres://user:password@host:port/db-name"
#ENCRYPTION KEY 
DATA_ENCRYPTION_KEY=4d304604615ea4d02c79e213c5a4510cb75424ea68786ce91dbf2595e6731bb4
IV_LENGTH=16